[submodule "dot-config/nvim"]
	path = dot-config/nvim
	url = https://github.com/pseudogram/nvim.config.git
[submodule "dot-tmux-themepack"]
	path = dot-tmux-themepack
	url = https://github.com/jimeh/tmux-themepack.git
[submodule ".oh-my-zsh/custom/themes/powerlevel10k"]
	path = .oh-my-zsh/custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
